.sidebar-section{
    background: linear-gradient(#18D2B0, #0FCFEB);
    height: 100vh;
}
.sidebar-list{
    margin-left: 30%;
    padding-top: 100px;
}
.sidebar-list h6{
    font-weight: 600;
    margin-bottom: 45px;
    color: #f2f0f0;
}
.sidebar-list h6 a{
    text-decoration: none;
    color:#fff;
}
.sideicon{
    margin-right: 15px;
}