.take-appointment{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.take-appointment h2{
    color: #1CC7C1;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 35px;
}