.header-navbar{}
.menu{}
.menu ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    
}
.menu ul li{
    list-style: none;
    width: 200px;
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    color: #555454;
}
.menu ul li.text-color a{
    color:#fff;
}