.single-testimonial{
    padding: 40px;
    box-shadow: 3px 3px 8px #dad8d8;
    border-radius: 5px;
    background-color: #FCF7FF;
}
.single-testimonial span{
    color: #8b8b8b;
    padding-bottom: 30px;
    display: inline-block;
    font-weight: 500;
}
.review-icon{
    color: #1CC7C1;
    font-size: 18px;
    margin-right: 10px;
}
.user-info{
    display: flex;
}
.user-img{}
.user-img img{
    width: 70%;
}
.user-detail{
    margin-left: -10px;
}
.user-detail h6{
    color: #1CC7C1;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.user-detail span{
    font-size: 14px;
    color: #9d9d9d;
    font-weight: 600;
}