@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.app{
  overflow: hidden;
}
.button{
  background: linear-gradient(to right, #18D2B0 , #0FCFE7);
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}
